<template>
    <div>
        <div class="xl:visible xl:flex xl:items-center sm:hidden hidden">
            <div class="xl:w-1/6 pb-4">
                <img class="h-18 block m-auto" src="/images/redbullracing.png" alt="Red Bull Racing Logo">
            </div>
            <div class="xl:w-1/6 pb-4">
                <img class="h-12 block m-auto" src="/images/ziggo.svg" alt="Bedrijf Ziggo">
            </div>
            <div class="xl:w-1/6 pb-4">
                <img class="h-42 block m-auto" src="/images/honda-4.svg" alt="Honda Motors">
            </div>
            <div class="xl:w-1/6 pb-4">
                <img class="h-48 block m-auto" src="/images/tag-heuer-3.svg" alt="Tag Heuer">
            </div>
            <div class="xl:w-1/6 pb-4">
                <img class="h-8 block m-auto" src="/images/exact-1.svg" alt="Exact sponsor">
            </div>
            <div class="xl:w-1/6 pb-4">
                <img class="h-12 block m-auto" src="/images/Jumbo_Logo.svg" alt="Jumbo Supermarkten">
            </div>
        </div>
        <h1 class="text-3xl uppercase text-center xl:pt-0 pt-10"><b>Uitgelicht</b></h1>
        <div class="xl:flex xl:px-48 md:flex md:px-12 sm:flex sm:px-8 px-4 z-0">
            <div class="xl:w-1/2">
                <div class="m-2.5 relative bg-cover gradient">
                    <img src="/images/f1_nederland.jpg" alt="Jumbo Racedagen Zandvoort">
                </div>
                <div class="relative ml-5">
                    <h2 class="absolute text-white pt-2 pl-4 xl:text-2xl text-base pb-4 sm:pl-0" style="sm:left: 10px; bottom: 10px;"><b>Formule 1 keert terug in Nederland! <br />
                    Kaartverkoop is al gestart</b></h2>
                </div>
            </div>
            <div class="xl:w-1/2 xl:block md:block sm:block hidden">
                <div class="m-2.5 relative bg-cover gradient">
                    <img src="/images/max_on_track.jpg" alt="Jumbo Racedagen Zandvoort">
                </div>
                <div class="relative ml-5">
                    <h2 class="absolute text-white pt-2 pl-4 xl:text-2xl text-base pb-4 sm:pl-0" style="left: 10px; bottom: 10px;"><b>Horner kritisch: <br />
                    "Frustrerend dat Gasly niet in de punten eindigde"</b></h2>
                </div>
            </div>
        </div>
        <div class="hidden xl:block xl:px-0 md:block md:px-12 md:pt-10">
            <h1 class="text-3xl uppercase text-center xl:pt-0"><b>Meest recent</b></h1>
            <carousel :autoplay="true" :perPage="4" :autoplayHoverPause="true" :autoplayTimeout="10000" :loop="true" :mouseDrag="true" :paginationEnabled="true" :speed="750" class="xl:visible xl:px-20 xl:pt-10 xl:px-48 xl:pb-10 md:pb-10 invisible">
                <slide class="px-2">
                    <img src="/images/rb14.jpg" alt="F1 Auto RB14 Red Bull 14">
                    <p class="px-5 pt-2 md:px-2">Verstappen geeft duidelijk signaal af: Red Bull-Honda moet aan de slag</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/rb8.jpg" alt="F1 Auto RB8 Red Bull 8">
                    <p class="px-5 pt-2 md:px-2">McLaren koos in Frankrijk bewust niet voor nieuwe Renault-motor</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/zandvoort_max.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="px-5 pt-2 md:px-2">Ricciardo genoot van bestraft gevecht in slotronde: "Dat was cool!"</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/donuts.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="px-5 pt-2 md:px-2">Horner tevreden: "Uitstekend van Verstappen om de Ferrari's te splitten"</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/rb14.jpg" alt="F1 Auto RB14 Red Bull 14">
                    <p class="px-5 pt-2 md:px-2">Honda: "Sterke race van Verstappen, maar we moeten verbeteren"</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/rb8.jpg" alt="F1 Auto RB8 Red Bull 8">
                    <p class="px-5 pt-2 md:px-2">Bottas strijdvaardig na tweede plaats: "Hamilton is niet onverslaanbaar"</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/zandvoort_max.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="px-5 pt-2 md:px-2">Vettel snel op achterstand: "Had de McLarens liever wat sneller ingehaald"</p>
                </slide>
                <slide class="px-2">
                    <img src="/images/donuts.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="px-5 pt-2 md:px-2">Gasly zoekt naar antwoorden na zeer teleurstellend optreden in thuisrace</p>
                </slide>
            </carousel>
        </div>
        <hr class="xl:hidden md:hidden block">
        <h1 class="xl:hidden md:hidden block text-3xl uppercase text-center xl:pt-0"><b>Meest recent</b></h1>

        <div class="xl:hidden md:px-32 md:hidden sm:pb-10 sm:px-8 pb-8 px-4 block">
            <div class="flex m-2.5">
                <div class="w-1/2 pr-2">
                    <img src="/images/donuts.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="xl:px-5 p-2 pt-2">Verstappen geeft duidelijk signaal af: Red Bull-Honda moet aan de slag</p>
                </div>
                <div class="w-1/2 pl-2">
                    <img src="/images/zandvoort_max.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="xl:px-5 p-2 pt-2">McLaren koos in Frankrijk bewust niet voor nieuwe Renault-motor</p>
                </div>
            </div>
            <div class="flex m-2.5">
                <div class="w-1/2 pr-2">
                    <img src="/images/rb14.jpg" alt="F1 Auto RB14 Red Bull 14">
                    <p class="xl:px-5 p-2 pt-2">Ricciardo genoot van bestraft gevecht in slotronde: "Dat was cool!"</p>
                </div>
                <div class="w-1/2 pl-2">
                    <img src="/images/rb8.jpg" alt="F1 Auto RB8 Red Bull 8">
                    <p class="xl:px-5 p-2 pt-2">Horner tevreden: "Uitstekend van Verstappen om de Ferrari's te splitten"</p>
                </div>
            </div>
            <div class="flex m-2.5">
                <div class="w-1/2 pr-2">
                    <img src="/images/max.jpg" alt="Max Verstappen Verstappen Red Bull Racing">
                    <p class="xl:px-5 p-2 pt-2">Honda: "Sterke race van Verstappen, maar we moeten verbeteren"</p>
                </div>
                <div class="w-1/2 pl-2">
                    <img src="/images/f1_nederland.jpg" alt="Jumbo Racedagen Zandvoort">
                    <p class="xl:px-5 p-2 pt-2">Gasly zoekt naar antwoorden na zeer teleurstellend optreden in thuisrace</p>
                </div>
            </div>
        </div>
        <div>
            <div class="justify-center pb-10 md:pb-0">
                <div class="xl:flex xl:px-20 xl:h-full xl:pt-0 md:flex md:h-full md:pt-0 pt-10 bg-gp-100 w-full text-white">
                    <div class="xl:flex xl:w-2/3 md:flex md:w-1/2">
                        <div class="xl:w-1/2 xl:pl-8 hidden xl:block">
                            <img class="h-100" src="/images/maxstanding.png" alt="Max Verstappen Verstappen Red Bull Racing">
                        </div>
                        <div class="text-center self-center md:py-6">
                            <img class="rounded block m-auto" src="/images/franceflag.gif" alt="France Flag">
                            <div class="pt-5 text-2xl xl:px-0 px-4">
                                <h1>FORMULA 1 PIRELLI GRAND PRIX DE FRANCE 2019</h1>
                            </div>
                            <div class="flex pt-4 xl:text-left text-center">
                                <div class="w-1/2">
                                    <p>PRACTISE 1 VRIJ <br class="xl:hidden block"> <span class="bg-black rounded p-1 text-right xl:ml-4">11:00 - 12:30</span></p>
                                    <p class="py-2">PRACTISE 2 VRIJ <br class="xl:hidden block"> <span class="bg-black rounded p-1 text-right xl:ml-4">15:00 - 16:30</span></p>
                                    <p>PRACTISE 3 ZAT <br class="xl:hidden block"> <span class="bg-black rounded p-1 text-right xl:ml-4">12:00 - 13:00</span></p>
                                </div>
                                <div class="w-1/2">
                                    <p class="pb-2">QUALIFYING ZAT <br class="xl:hidden block"> <span class="bg-black rounded p-1 text-right xl:ml-4">15:00 - 16:00</span></p>
                                    <p>RACE SUN <br class="xl:hidden block"> <span class="bg-black rounded p-1 text-right xl:ml-4">15:10</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xl:flex xl:w-1/3 xl:pl-10 md:flex md:w-1/2 self-center justify-center">
                        <img class="xl:h-82 md:h-72 h-56 block m-auto" src="images/francegp.png" alt="France GP Grand Prix FranceGP F1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
	export default {
        components: {
            Carousel,
            Slide
        },
	}
</script>
