<template>
    <div class="fixed w-full bg-white z-100">
        <a @click="navbar = true" v-if="!navbar" :class="{'text-3xl pl-5': true, 'none': !navbar}">
            <i class="fas fa-bars"></i>
        </a>
        <div v-else>
            <div>
                <a @click="navbar = false" v-if="navbar" class="text-3xl">
                    <i class="fas fa-times pl-5"></i>
                </a>
                <div class="pl-8 fixed z-10 text-center pb-4 bg-white w-full">
                    <div class="mr-8 text-2xl hover:text-gray-400"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'homepage' }" exact>Homepagina</router-link></div>
                    <div class="mr-8 text-2xl hover:text-gray-400"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'nieuws' }">Nieuws</router-link></div>
                    <div class="mr-8 text-2xl hover:text-gray-400"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'verstappen' }">Max Verstappen</router-link></div>
                    <div class="mr-8 text-2xl hover:text-gray-400"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'standen' }">Standen</router-link></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                navbar: false,
            }
        }
    }
</script>
