<template>
    <div class="pt-10 sm:pt-5 pb-10">
        <h1 class="text-3xl uppercase text-center w-full xl:pt-0 md:pt-5 pb-6"><b>Nieuws</b></h1>
        <div class="xl:px-16 lg:px-16 md:px-16 sm:px-16 px-4">
            <div class="lg:flex">
                <div class="lg:w-1/2">
                    <div class="md:pr-16">
                        <div class="flex">
                            <div class="w-1/2">
                                <img class="sm:h-40" align="right" src="/images/donuts.jpg" alt="Jumbo Racedagen Zandvoort">
                            </div>
                            <div class="w-1/2 pl-4 border border-black-200">
                                <div>
                                    <p class="uppercase text-red-900"><b>Zandvoort</b></p>
                                    <p class="text-1xl pt-3"><b>Pirelli wil geen kombocht in Circuit Zandvoort voor GP Nederland</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="flex pt-4">
                            <div class="w-1/2">
                                <img class="sm:h-40" align="right" src="/images/norris.jpeg" alt="Lando Norris McLaren F1">
                            </div>
                            <div class="w-1/2 pl-4 border border-black-200">
                                <p class="uppercase text-red-900"><b>Lando Norris</b></p>
                                <p class="text-1xl pt-3"><b>Norris terneergeslagen: "Titel Driver of the Day deed me nog een beetje lachen"</b></p>
                            </div>
                        </div>
                        <div class="flex pt-4">
                            <div class="w-1/2">
                                <img class="sm:h-40" align="right" src="/images/max_and_ric.jpg" alt="Max Verstappen Daniël Ricciardo Red Bull Racing Teammates Renault Sport">
                            </div>
                            <div class="w-1/2 pl-4 border border-black-200">
                                <p class="uppercase text-red-900"><b>Formule 1 nieuws</b></p>
                                <p class="text-1xl pt-3"><b>Verstappen op de bres voor bestrafte Ricciardo: "Prima actie"</b></p>
                            </div>
                        </div>
                        <div class="flex pt-4">
                            <div class="w-1/2">
                                <img class="sm:h-40" align="right" src="/images/mercedes_benz.jpg" alt="Lewis Hamilton F1 AMG Mercedes Benz">
                            </div>
                            <div class="w-1/2 pl-4 border border-black-200">
                                <p class="uppercase text-red-900"><b>Lewis Hamilton</b></p>
                                <p class="text-1xl pt-3"><b>Hamilton haalt uit naar saaie F1: "Regelmakers zijn daar schuldig aan, niet de coureurs"</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt-8 lg:pb-0 xl:pb-0 md:pb-8 sm:pb-8 pb-8">
                        <button class="p-4 bg-gp-100 text-white rounded focus:outline-none border-b-4 border-red-700"><b>Meer laden...</b></button>
                    </div>
                </div>
                <div class="xl:w-3/6 lg:w-1/2 lg:px-12 justify-center">
                    <div class="bg-gp-100 h-160 w-full rounded md:px-0 h-full md:h-auto">
                        <div class="pt-10">
                            <img class="rounded block m-auto" src="/images/franceflag.gif" alt="France Flag">
                        </div>
                        <div class="pt-5 text-white text-center text-2xl xl:px-0 px-4">
                            <div class="px-4">
                                <h1>FORMULA 1 PIRELLI GRAND PRIX DE FRANCE 2019</h1>
                            </div>
                            <div class="flex px-4 pt-8 text-base">
                                <div class="w-1/2">
                                    <p>PRACTISE 1 VRIJ</p>
                                    <span class="bg-black rounded p-1">11:00 - 12:30</span>
                                    <p class="pt-2">PRACTISE 2 VRIJ</p>
                                    <span class="bg-black rounded p-1">15:00 - 16:30</span>
                                    <p class="pt-2">PRACTISE 3 ZAT</p>
                                    <span class="bg-black rounded p-1">12:00 - 13:00</span>
                                </div>
                                <div class="w-1/2">
                                    <p>QUALIFYING ZAT</p>
                                    <span class="bg-black rounded p-1">15:00 - 16:00</span>
                                    <p class="pt-2">RACE SUN</p>
                                    <span class="bg-black rounded p-1">15:10 - 17:10</span>
                                </div>
                            </div>
                        </div>
                        <div class="pt-5">
                            <img class="w-80 block m-auto" src="images/francegp.png" alt="France GP Grand Prix FranceGP F1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		//
	}
</script>
