<template>
    <div class="text-3xl text-center pt-20 px-16 md:px-0">
        <p>Wij konden deze pagina helaas niet vinden...</p>
        <p>Keer terug naar de <router-link class="underline" :to="{ name:'homepage' }" exact>homepagina</router-link> of probeer het later nog eens.</p>
        <img class="block h-16 ml-auto mr-auto mt-10" src="/images/f1redbull.png">
    </div>
</template>

<script>
	export default {
		//
	}
</script>
