<template>
    <div class="md:px-48 pt-3 md:pt-0 pb-6 md:pb-10">
        <p class="md:text-5xl text-2xl pl-4 pt-5 md:pt-4 text-center md:text-left"><b>Formule 1 stand 2019</b></p>
        <p class="text-lg md:w-2/3 md:pr-10 pt-2 pb-8 md:px-0 md:pl-4 px-4 text-center md:text-left">Hier vind je altijd de actuele stand in het wereldkampioenschap Formule 1 2019 bij de coureurs. Wie wordt er dit jaar wereldkampioen?</p>
        <div class="md:flex">
            <div class="md:w-2/3">
                <div class="bg-smoothblack-100 text-2xl p-2 text-white">
                    <p class="text-1xl md:pl-12 md:text-3xl text-center md:text-left"><b>Formule 1 stand 2019</b></p>
                </div>
                <div class="bg-footer-100 pt-4 pb-4">
                    <div class="p-8 m-4 bg-white">
                        <div class="flex">
                            <div class="w-1/6 md:pl-6"><b>Pos.</b></div>
                            <div class="w-1/4 md:pl-8"><b>Coureur</b></div>
                            <div class="w-1/2 md:pl-28 pl-12"><b>Team</b></div>
                            <div class="w-1/6"><b>Punten</b></div>
                        </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">1</p>
                            </div>
                            <div class="w-1/4">
                                <p>Lewis <b>HAMILTON</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Mercedes AMG Motorsport</p>
                            </div>
                            <div class="w-1/6">
                                <p>284</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">2</p>
                            </div>
                            <div class="w-1/4">
                                <p>Valtteri <b>BOTTAS</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Mercedes AMG Motorsport</p>
                            </div>
                            <div class="w-1/6">
                                <p>221</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">3</p>
                            </div>
                            <div class="w-1/4">
                                <p>Max <b>VERSTAPPEN</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Red Bull Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>185</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">4</p>
                            </div>
                            <div class="w-1/4">
                                <p>Charles <b>LECLERC</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Scuderia Ferrari</p>
                            </div>
                            <div class="w-1/6">
                                <p>182</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">5</p>
                            </div>
                            <div class="w-1/4">
                                <p>Sebastian <b>VETTEL</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Scuderia Ferrari</p>
                            </div>
                            <div class="w-1/6">
                                <p>169</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">6</p>
                            </div>
                            <div class="w-1/4">
                                <p>Pierre <b>GASLY</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Toro Rosso</p>
                            </div>
                            <div class="w-1/6">
                                <p>65</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">7</p>
                            </div>
                            <div class="w-1/4">
                                <p>Carlos <b>SAINZ JR.</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">McLaren Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>58</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">8</p>
                            </div>
                            <div class="w-1/4">
                                <p>Daniel <b>RICCIARDO</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Renault F1</p>
                            </div>
                            <div class="w-1/6">
                                <p>34</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">9</p>
                            </div>
                            <div class="w-1/4">
                                <p>Alexander <b>ALBON</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Red bull Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>34</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">10</p>
                            </div>
                            <div class="w-1/4">
                                <p>Daniil <b>KVYAT</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Scuderia Toro Rosso</p>
                            </div>
                            <div class="w-1/6">
                                <p>33</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">11</p>
                            </div>
                            <div class="w-1/4">
                                <p>Nico <b>HULKENBERG</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Renault F1</p>
                            </div>
                            <div class="w-1/6">
                                <p>31</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">12</p>
                            </div>
                            <div class="w-1/4">
                                <p>Kimi <b>RÄIKKÖNEN</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Alfa Romeo Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>31</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">13</p>
                            </div>
                            <div class="w-1/4">
                                <p>Sergio <b>PÉREZ</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Racing Point</p>
                            </div>
                            <div class="w-1/6">
                                <p>27</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">14</p>
                            </div>
                            <div class="w-1/4">
                                <p>Lando <b>NORRIS</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">McLaren Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>25</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">15</p>
                            </div>
                            <div class="w-1/4">
                                <p>Lance <b>STROLL</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Racing Point</p>
                            </div>
                            <div class="w-1/6">
                                <p>19</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">16</p>
                            </div>
                            <div class="w-1/4">
                                <p>Kevin <b>MAGNUSSEN</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Haas F1</p>
                            </div>
                            <div class="w-1/6">
                                <p>18</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">17</p>
                            </div>
                            <div class="w-1/4">
                                <p>Romain <b>GROSJEAN</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Haas F1</p>
                            </div>
                            <div class="w-1/6">
                                <p>8</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">18</p>
                            </div>
                            <div class="w-1/4">
                                <p>Antonio <b>GIOVINAZZI</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Alfa Romeo Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>3</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">19</p>
                            </div>
                            <div class="w-1/4">
                                <p>Robert <b>KUBICA</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Williams Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>1</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex py-3 text-sm border border-gray-200">
                            <div class="w-1/6">
                                <p class="md:pl-8 pl-4">20</p>
                            </div>
                            <div class="w-1/4">
                                <p>George <b>RUSSELL</b></p>
                            </div>
                            <div class="w-1/2 pl-8">
                                <p class="text-gray-700">Williams Racing</p>
                            </div>
                            <div class="w-1/6">
                                <p>0</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="md:w-1/3 md:pl-4 px-4 md:px-0 pb-4 pt-5 md:pt-0">
                <div class="flex bg-red-600">
                    <div class="w-full pl-4 border border-black-200 p-2">
                        <div>
                            <p class="uppercase text-white"><b>Vers van de pers</b></p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-black-200 p-2">
                        <div>
                            <p class="uppercase text-red-900"><b>Zandvoort</b></p>
                            <p class="text-1xl pt-3"><b>Pirelli wil geen kombocht in Circuit Zandvoort voor GP Nederland</b></p>
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <p class="uppercase text-red-900"><b>Lando Norris</b></p>
                        <p class="text-1xl pt-3"><b>Norris terneergeslagen: "Titel Driver of the Day deed me nog een beetje lachen"</b></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <p class="uppercase text-red-900"><b>Formule 1 nieuws</b></p>
                        <p class="text-1xl pt-3"><b>Verstappen op de bres voor bestrafte Ricciardo: "Prima actie"</b></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <p class="uppercase text-red-900"><b>Lewis Hamilton</b></p>
                        <p class="text-1xl pt-3"><b>Hamilton haalt uit naar saaie F1: "Regelmakers zijn daar schuldig aan, niet de coureurs"</b></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <p class="uppercase text-red-900"><b>Gaming E-Sports</b></p>
                        <p class="text-1xl pt-3"><b>Nieuwe Formule 1 game komt uit op 25 Juni 2019. Kyvat: "Opnieuw een geweldige game".</b></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <p class="uppercase text-red-900"><b>Scuderia Ferrari</b></p>
                        <p class="text-1xl pt-3"><b>FIA wijst het kijken naar penalty Vettel af na hoger beroep van Ferrari</b></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <p class="uppercase text-red-900"><b>Lewis Hamilton</b></p>
                        <p class="text-1xl pt-3"><b>Hamilton: "Zo wil ik races niet winnen, we moeten een show opzetten."</b></p>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-full pl-4 border border-t-0 border-black-200 p-2">
                        <div class="bg-black h-10">
                            <p class="text-1xl text-white text-center pt-2"><b>Meer nieuws ></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		//
	}
</script>
