<template>
	<div class="md:px-48 px-12 pt-10">
        <div class="md:flex">
            <div class="clearfix w-full pb-6">
                <img class="rounded float-left pt-4 pr-10" src="images/netherlands_flag.gif" alt="Netherlands Flag">
                <p class="self-center text-2xl md:text-6xl pt-8 md:pt-0"><b>Max Verstappen</b></p>
            </div>
        </div>
        <div class="md:flex">
            <div class="md:w-1/2">
                <img class="rounded md:bg-auto" src="images/max_portret.jpg" alt="Max Verstappen standing">
            </div>
            <div class="px-12"></div>
            <div class="lg:w-1/2">
                <div class="flex sm:text-xl text-sm pt-4 px-4 md:px-0">
                    <div class="md:w-1/2">
                        <p><b>Team</b></p>
                        <p><b>Land</b></p>
                        <p><b>Podiums</b></p>
                        <p><b>Punten</b></p>
                        <p><b>Grand Prix gereden</b></p>
                        <p><b>Hoogste race gefinished</b></p>
                        <p><b>Hoogste kwalificatie</b></p>
                        <p><b>Geboortedatum</b></p>
                        <p><b>Geboorteplaats</b></p>
                    </div>
                    <div class="md:hidden block px-4"></div>
                    <div class="md:w-1/2">
                        <p>Red Bull Racing</p>
                        <p>Nederland</p>
                        <p>24</p>
                        <p>770</p>
                        <p>89</p>
                        <p>1 (5x)</p>
                        <p>2</p>
                        <p>30/09/1997</p>
                        <p>Hasselt, België</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <p class="md:text-6xl text-4xl md:pt-10 pt-20 pb-5"><b>Biografie Max</b></p>
            </div>
            <div class="font-medium xl:pr-100">
                <p><b>Met de komst van Max Verstappen is het Formule 1-virus in Nederland razendsnel verspreid. De jonge Nederlander heeft er pas vier seizoenen op zitten in de Formule 1, maar heeft nu al prestaties geleverd die hem voor altijd een legende zullen maken. Niet alleen in Nederland, maar ook ver daarbuiten is zijn ster stralende. Het is voor velen dan ook de grote vraag hoever Verstappen zal kunnen reiken in zijn loopbaan. Daarbij wordt door velen zelfs het veroveren van de wereldtitel op enig moment niet uitgesloten. Al zal daar nog wel het een en ander voor nodig zijn om dat te bereiken.</b></p>
                <p class="text-xl pt-8"><b>Debuutjaar</b></p>
                <p>Max Verstappen maakte zijn debuut in de Formule 1 op 15 maart 2015. Op dat moment was hij 17 jaar en 166 dagen. Hij was daarmee de jongste debutant ooit in de koningsklasse van de racesport. Dit feit kan hem ook nimmer meer afgepakt worden. Sindsdien zijn de regels veranderd en moet een coureur tenminste achttien jaar oud zijn om te mogen debuteren. Zolang deze regel van kracht blijft zal Verstappen dus altijd de jongste coureur in de Formule 1 ooit blijven. Tijdens die eerste race, in Australië, werd hij getroffen door een kapotte motor. In zijn tweede race pakte hij echter wel zijn eerste wk-punten. Opnieuw als jongste coureur ooit.</p>
                <p class="text-xl pt-8"><b>Nog net geen podium</b></p>
                <p>De jonge Verstappen, die in die tijd dus nog niet op de Nederlandse weg mocht rijden omdat hij geen rijbewijs had ondanks zijn coureurschap, baarde in zijn debuutjaar veel opzien met zijn prestaties in de bolide van het relatief kleine Toro Rosso. Het meest in het oog sprongen zijn twee vierde plaatsen, in de Grands Prix van Hongarije en de Verenigde Staten. Zijn prestaties kwamen hem op veel lof te staan, maar ook op een aantal awards, zoals Rookie of the Year, Action of the Year en Personality of the Year. Zijn naam was daardoor gevestigd. In zijn tweede jaar begon hij opnieuw bij Toro Rosso. Verstappen ging verder waar hij gebleven was en zette een aantal goede resultaten neer. Zo goed zelfs dat hij er gedurende het seizoen een transfer naar het Red Bull-team aan overhield. Op 5 mei 2016 werd bekend dat hij voortaan voor dit grotere team zou uitkomen. Hij zou er de plek van Danil Kvyat overnemen. Deze stap zou hem naar het echte sterrendom schieten. In zijn eerste race voor het team zette hij immers een prestatie neer die niet eerder door een coureur was neergezet.</p>
                <p class="text-xl pt-8"><b>Grote prijs van Spanje</b></p>
                <p>Voor zover Verstappen nog niet was doorgebroken deed hij dat definitief in zijn eerste race voor Red Bull Racing. In de Grand Prix van Spanje, net na zijn overstap, pakte hij direct de overwinning. Verstappen was daarmee de jongste winnaar van een Grand Prix ooit. Hij was bovendien de eerste Nederlander die ooit een race wist te winnen op het allerhoogste niveau. Vervolgens kwalificeerde hij zich als tweede voor de Grand Prix van België. Ook al won hij die race niet, het was wel het beste kwalificatieresultaat van een Nederlander in de Formule 1 ooit. Het bleef bij die twee resultaten in 2016, al was hij wel het hele verdere seizoen voorin te vinden.</p>
                <p class="text-xl pt-8"><b>Het vervolg</b></p>
                <p>Ook 2017 was een bewogen jaar voor de coureur. Waar het de eerste helft van het seizoen nog tegen zat met veel motorpech, wist hij de tweede helft naar zijn hand te zetten en zijn tweede en derde overwinning binnen te slepen. In Maleisië en Mexico kwam hij als eerste over de finish en werd daarmee de jongste meervoudig Grand Prix-winnaar ooit.
                <br>
                2018 begon lastig voor Verstappen. De sterke vorm van eind 2017 wist hij in het begin van het daaropvolgende jaar niet gelijk terug te vinden. De Nederlander raakte een aantal keer betrokken bij crashes en zag door een eigen fout de kwalificatie in Monaco in rook opgaan. Daarna keerde het tij echter en kwam Verstappen sterker terug dan ooit. Na een derde plaats in Canada en de tweede plaats in Frankrijk, volgde overwinning nummer vier. In Oostenrijk kwam hij als eerste Red Bull-coureur ooit, voor het oog van tienduizenden Nederlanders, als eerste over de finish op de Red Bull Ring. Hierna volgde een reeks overwegend sterke races en meerdere podiumplaatsen, gevolgd door opnieuw een dominante overwinning in Mexico. Hij greep er net naast pole position en kan dus niet meer de jongste pole-sitter ooit worden, maar pakte wel als jongste coureur ooit twee keer achter elkaar de overwinning op hetzelfde circuit. Het kwakkelende begin van het jaar was vergeten en Verstappen zette zichzelf neer als gevestigde coureur met kampioenschapspotentie.</p>
                <p class="text-xl pt-8"><b>Inhalen</b></p>
                <p>Max Verstappen wordt vooral geroemd om zijn aanvallende manier van racen. Hij houdt van inhalen. Hij doet dit dan ook veelvuldig. Daarbij kiest hij niet altijd de plekken waar inhalen verwacht wordt. Dit zorgt voor veel spektakel en dat kunnen zowel fans als experts in Verstappen waarderen. Wel krijgt hij zo nu en dan kritiek van mede-coureurs. Die vinden regelmatig dat hij gevaarlijk rijdt en de anderen op de baan in gevaar brengt. In de laatste race van 2016 liet hij zien waar hij toe in staat is door in de regen in zestien rondes tijd van de zestiende plaats naar de derde plaats te rijden.</p>
                <p class="text-xl pt-8"><b>In 2019</b></p>
                <p class="pb-10">Het belooft een spannend seizoen te worden voor Max Verstappen, op meerdere vlakken. Red Bull Racing gaat in zee met Honda als motorleverancier, na een aantal betrekkelijk magere jaren met Renault’s hybride V6. De verwachtingen voor de combinatie Red Bull-Honda zijn hooggespannen en er wordt zelfs al gesproken over titelkansen voor Verstappen. Daarnaast krijgt de Nederlander een nieuwe teamgenoot: Pierre Gasly vervangt Daniel Ricciardo. Hoe de verhouding tussen hen ligt, wordt dus ook interessant.</p>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
        //
	}
</script>
