<template>
    <div>
        <div class="bg-footer-100">
            <div class="md:flex pt-10 pb-10 md:pl-28 px-16 justify-center text-center md:text-left">
                <div class="md:w-1/6">

                </div>
                <div class="md:w-1/6">
                    <p class="uppercase text-3xl pb-6"><b>F1Vandaag</b></p>
                    <div class="text-base">
                        <p class="pb-2 focus:text-gray-600"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'homepage' }" exact><a>Homepagina</a></router-link></p>
                        <p class="pb-2 focus:text-gray-600"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'nieuws' }">Nieuws</router-link></p>
                        <p class="pb-2 focus:text-gray-600"><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'verstappen' }">Max Verstappen</router-link></p>
                        <p><router-link active-class="py-1 border-b-2 border-red-600" :to="{ name:'standen' }">Standen</router-link></p>
                    </div>
                </div>
                <div class="md:w-1/6">
                    <p class="uppercase text-3xl pb-6 pt-5 md:pt-0"><b>Informatie</b></p>
                    <div class="text-base">
                        <p class="pb-2 cursor-pointer focus:text-gray-600">FAQ</p>
                        <p class="pb-2 cursor-pointer focus:text-gray-600">Dutch GP</p>
                        <p class="pb-2 cursor-pointer focus:text-gray-600">Kaart Verkoop</p>
                    </div>
                </div>
                <div class="md:w-1/6">
                    <p class="uppercase text-3xl pb-6 pt-5 md:pt-0"><b>Contact</b></p>
                    <div class="text-base">
                        <p class="pb-2 cursor-pointer focus:text-gray-600">Pers</p>
                        <p class="pb-2 cursor-pointer focus:text-gray-600">Hospitality</p>
                        <p class="pb-2 cursor-pointer focus:text-gray-600">Contact</p>
                    </div>
                </div>
                <div class="md:w-1/6">
                    <p class="uppercase text-3xl pb-6 pt-5 md:pt-0"><b>Volg ons</b></p>
                    <div class="text-base">
                       <p class="pb-2 cursor-pointer focus:text-gray-600"><i class="hover:text-gray-600 fab pr-4 fa-facebook-square"></i>Facebook</p>
                        <p class="pb-2 cursor-pointer focus:text-gray-600"><i class="hover:text-gray-600 fab pr-4 fa-instagram"></i>Instagram</p>
                        <p class="pb-2 cursor-pointer focus:text-gray-600 mr-5 md:mr-0"><i class="hover:text-gray-600 fab pr-4 fa-twitter-square"></i>Twitter</p>
                    </div>
                </div>
                <div class="md:w-1/6">

                </div>
            </div>
            <div class="border-b-2 border-gray-400 w-full"></div>
            <div class="md:flex text-gray-700 px-8 md:px-0 md:text-left text-center pt-4 md:pt-0">
                <div class="md:w-2/3 self-center md:pl-74">
                    <p>2019 © Formule1Vandaag: Een initiatief van Kick Schutte</p>
                </div>
                <div class="md:w-1/3 py-4 self-center">
                    <p>website ontwikkeld door: Kick Schutte</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        //
    }
</script>
